.profile-container {
  margin-left: 15%;
}

.profile {
  display: flex;
  border-bottom: 1px solid grey;
  margin-bottom: 25px;
}

.title {
  margin-left: 4%;
}

p {
  color: steelblue;
  font-size: 1.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.links {
  width: 61%;
  display: flex;
  justify-content: flex-end;
}

.button {
  color: steelblue;
  margin-left: 7%;
  font-size: 1.9rem;
}