.page-container {
  display: flex;
  flex-direction: column;
}

.profile-container {
  margin-left: 7%;
  margin-top: 12%;
  width: 725px;
  z-index: 1;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 75%;
}

.profile p {
  margin: 0;
}

.title,
.name,
.divider {
  color: #0080ff;
  font-size: 1.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.name {
  font-size: 2.1rem;
}

.links {
  border-top: 1px solid grey;
  padding-top: 25px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.link-buttons {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.button {
  color: #0080ff;
  margin-left: 7%;
  font-size: 1.9rem;
}

.button:hover {
  color: lightskyblue;
  cursor: pointer;
  animation: spin 375ms linear 1;
}

.download-container {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.projects {
  color: #0080ff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  text-align: end;
  width: 15%;
  margin-left: 10%;
  text-decoration: none;
}

.projects:hover {
  cursor: pointer;
  color: lightskyblue;
  text-decoration: none;
  animation: spin 500ms linear 1;
}

.profile-summary {
  margin-top: 5%;
  margin-left: 7%;
  max-width: 650px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-summary p {
  color: gainsboro;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.profile-pic {
  margin-right: 35px;
  border-radius: 50%;
  width: 25%;
}

@media (max-width: 720px) {
  .page-container {
    flex-direction: column-reverse;
  }

  .profile-container {
    width: 100%;
    margin-left: 0;
    margin-top: 2%;
  }

  .profile {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .profile p {
    margin-bottom: 25px;
  }

  .divider {
    display: none;
  }

  .title,
  .name,
  .divider {
    font-size: 2.2rem;
  }

  .name {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  .links {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }

  .link-buttons {
    margin-top: 25px;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .button {
    margin-left: 0;
    font-size: 3.5rem;
  }

  .projects {
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
    margin: 50px auto;
    /* margin-top: 50px; */
  }

  .profile-summary {
    flex-direction: column;
    margin: 35px auto;
    width: 90%;
  }
}
