/* Container */

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 2%;
}

/* Back button */

.back-button-initial {
  cursor: pointer;
  position: relative;
  margin-left: 6.5%;
  font-size: 3rem;
  right: -2000px;
}

.back-button-visible {
  cursor: pointer;
  position: relative;
  color: #0080ff;
  right: -2000px;
  margin-left: 6.5%;
  font-size: 3rem;
  animation: slide-left 2000ms 1500ms forwards;
}

.button-hidden {
  animation: slide-right-off 1000ms forwards;
}

.back-arrow-visible {
  animation: spin 2500ms reverse 1;
}

.back-arrow-visible:hover {
  color: lightskyblue;
}

.arrow-hidden {
  animation: spin-right 1200ms linear 1;
}

/* Projects */

.projects-initial {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  margin-top: 75px;
  position: relative;
  right: -2000px;
}

.projects-visible {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  margin-top: 75px;
  position: relative;
  right: -2000px;
  animation: slide-left 1600ms 500ms forwards;
  z-index: 2;
}

.projects-hidden {
  position: relative;
  right: 0;
  animation: slide-right-off 1500ms 250ms forwards;
}

.top-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.project,
.active-project {
  background-color: #222222;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 40vh;
  margin-bottom: 45px;
  padding-top: 15px;
  color: #0080ff;
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.active-project {
  height: 85vh;
}

.portfolio-container .fas {
  font-size: 3rem;
}

.fa-angle-double-up {
  display: flex;
  justify-content: center;
  width: 30px;
  margin: auto;
}

.null {
  display: none;
}

.active-text {
  padding: 4%;
  height: 47vh;
  max-height: 50px;
}

.active-text p {
  margin: 0;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.25vw;
  color: darkgray;
}

.repositories {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15px;
}

.repositories a {
  font-size: 1.2rem;
}

.project-image {
  border-radius: 5px;
  max-width: 45%;
  max-height: 225px;
  margin-top: 5%;
  box-shadow: 10px 10px 5px black;
  width: auto;
  height: auto;
}

.project-image2 {
  border-radius: 5px;
  max-width: 55%;
  max-height: 225px;
  margin-top: 5%;
  box-shadow: 10px 10px 5px black;
  width: auto;
  height: auto;
}

/* Break points */

@media (max-width: 1200px) {
  .portfolio-container {
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }

  .projects-initial {
    position: absolute;
    width: 100%;
  }

  .projects-visible {
    position: absolute;
    margin-top: 100px;
    width: 100%;
  }

  .back-button-visible {
    margin: auto;
    margin-top: 10px;
  }

  .top-row {
    flex-direction: column;
    width: 100%;
  }

  .project {
    height: 55vh;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }

  .project,
  .active-project {
    width: 55%;
  }

  .active-text p {
    font-size: 1.5vw;
  }
}

@media (max-width: 800px) {
  .portfolio-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-initial {
    width: 100%;
  }

  .projects-visible {
    position: absolute;
    width: 100%;
  }

  .top-row {
    flex-direction: column;
    width: 100%;
  }

  .project {
    height: 55vh;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }

  .project,
  .active-project {
    width: 55%;
  }

  .active-text p {
    font-size: 1.5vw;
  }

  .project,
  .active-project {
    width: 75%;
  }

  .active-text p {
    font-size: 2.5vw;
  }
}

/* Animations */

@keyframes slide-left {
  100% {
    right: 0;
  }
}
@-webkit-keyframes slide-left {
  100% {
    right: 0;
  }
}
@-moz-keyframes slide-left {
  100% {
    right: 0;
  }
}

@keyframes slide-right-off {
  from {
    right: 0;
  }
  to {
    right: -2000px;
  }
}
@-webkit-keyframes slide-right-off {
  from {
    right: 0;
  }
  to {
    right: -2000px;
  }
}
@-moz-keyframes slide-right-off {
  from {
    right: 0;
  }
  to {
    right: -2000px;
  }
}

@-moz-keyframes spin {
  to {
    -moz-transform: rotate(370deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(370deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(370deg);
  }
}

@keyframes spin-right {
  to {
    transform: rotate(370deg);
  }
}
@-webkit-keyframes spin-right {
  to {
    transform: rotate(370deg);
  }
}
@-moz-keyframes spin-right {
  to {
    transform: rotate(370deg);
  }
}
