.portfolio-container {
  width: 90%;
  /* padding-top: 5%; */
  margin-bottom: 5%;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.project {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 2% auto;
}

.project2 {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 2% auto;
  flex-direction: row-reverse;
}

.project-info {
  width: 30%;
}

.project-info h2 {
  text-decoration: none;
}

.project-image {
  max-width: 35%;
  max-height: 350px;
  margin: 1%;
  box-shadow: 10px 10px 5px gray;
  width: auto;
  height: auto;
}

.project-image2 {
  max-width: 40%;
  max-height: 350px;
  margin: 1%;
  box-shadow: 10px 10px 5px gray;
  width: auto;
  height: auto;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}
