/* Container */

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 2%;
  overflow-y: scroll;
}

/* Back button */

.back-button-initial {
  cursor: pointer;
  position: relative;
  margin-left: 6.5%;
  font-size: 2.5rem;
  right: -2000px;
}

.back-button-visible {
  cursor: pointer;
  position: relative;
  color: #0080ff;
  right: -2000px;
  margin-left: 5%;
  font-size: 2.5rem;
  font-weight: bold;
  animation: slide-left 2000ms 1500ms forwards;
}

.button-hidden {
  animation: slide-right-off 1000ms forwards;
}

.back-arrow-visible {
  transition-duration: 0.5s;
}

.back-arrow-visible:hover {
  color: lightskyblue;
  text-shadow: 2px 2px 8px #000000;
}

/* Projects */

.projects-initial {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  margin-top: 75px;
  position: relative;
  right: -2000px;
}

.projects-visible {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  position: relative;
  right: -2000px;
  animation: slide-left 1600ms 500ms forwards;
  z-index: 2;
}

.projects-hidden {
  position: relative;
  right: 0;
  animation: slide-right-off 1500ms 250ms forwards;
}

.top-row {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.project,
.active-project {
  background-color: #222222;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 355px;
  margin-bottom: 45px;
  padding-top: 15px;
  color: #0080ff;
  font-size: 1.6rem;
}

.project {
  height: 300px;
  transition: height 1s;
}

.active-project {
  height: 700px;
  transition: height 0.75s;
}

.project-link {
  font-size: 28px;
  margin: 0;
}

.active-down-arrow {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 15px auto;
  transition-duration: 0.5s;
  animation: spin 0.5s forwards;
}

.active-down-arrow:hover {
  color: lightskyblue;
  cursor: pointer;
  text-shadow: 2px 2px 8px #000000;
}

.active-up-arrow {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 15px auto;
  transition-duration: 0.5s;
  animation: spin 0.5s forwards;
}

.active-up-arrow:hover {
  color: lightskyblue;
  cursor: pointer;
  text-shadow: 2px 2px 8px #000000;
}

.null {
  display: none;
}

.active-text {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  max-height: 390px;
  transition: max-height 1s;
}

.active-text-collapse {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-height: 0;
  transition: max-height 1s;
}

.active-text p {
  overflow: hidden;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 19.7px;
  color: darkgray;
}

.active-text-collapse p {
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 19.7px;
  font-family: "Lucida Console", Monaco, monospace;
  color: darkgray;
}

.repositories {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15px;
}

.repositories a {
  margin: auto;
  font-size: 1.2rem;
}

.project-image {
  border-radius: 5px;
  max-width: 45%;
  max-height: 225px;
  margin-top: 5%;
  box-shadow: 10px 10px 5px black;
  width: auto;
  height: auto;
}

.project-image2 {
  border-radius: 5px;
  max-width: 55%;
  max-height: 225px;
  margin-top: 5%;
  box-shadow: 10px 10px 5px black;
  width: auto;
  height: auto;
}

/* Break points */

@media (max-width: 1200px) {
  .portfolio-container {
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }

  .projects-initial {
    position: absolute;
    width: 100%;
  }

  .projects-visible {
    position: absolute;
    margin-top: 100px;
    width: 100%;
  }

  .back-button-visible {
    margin: auto;
    margin-top: 10px;
  }

  .top-row {
    flex-direction: column;
    width: 100%;
  }

  .project {
    width: 100%;
    margin: auto;
    margin-bottom: 45px;
  }

  .project,
  .active-project {
    width: 90%;
    max-width: 355px;
    margin: auto;
    margin-bottom: 45px;
  }
}

@media (max-width: 800px) {
  .portfolio-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-initial {
    width: 100%;
  }

  .projects-visible {
    position: absolute;
    width: 100%;
  }

  .top-row {
    flex-direction: column;
    width: 100%;
  }

  .active-text p {
    font-size: 17px;
  }

  .active-text-collapse p {
    font-size: 17px;
  }
}

/* Animations */

@keyframes slide-left {
  100% {
    right: 0;
  }
}
@-webkit-keyframes slide-left {
  100% {
    right: 0;
  }
}
@-moz-keyframes slide-left {
  100% {
    right: 0;
  }
}

@keyframes slide-right-off {
  from {
    right: 0;
  }
  to {
    right: -2000px;
  }
}
@-webkit-keyframes slide-right-off {
  from {
    right: 0;
  }
  to {
    right: -2000px;
  }
}
@-moz-keyframes slide-right-off {
  from {
    right: 0;
  }
  to {
    right: -2000px;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(180deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-backwards {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
