.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 2%;
  border-bottom: 1px solid lightgrey;
}

.skills-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: flex;
  /* margin-left: 4%; */
}

.skill {
  font-size: 50px;
}

.fa-html5 {
  color: #e34f26;
}
.fa-css3 {
  color: #2092ec;
}
.fa-js-square {
  color: #f1d63b;
}
.fa-react {
  color: #00d2f8;
}
.fa-node-js {
  color: #7cc620;
}
.fa-sass {
  color: #c66395;
}
.fa-less {
  color: #1d3f6c;
}
.fa-python {
  color: #5facef;
}
