.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 2%;
}

.skills-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

li {

    display: flex;
    /* margin-left: 4%; */
}

.fab{
    font-size: 50px;
}

.fa-html5 {
    color: #E34F26;
}
.fa-css3 {
    color: #2092EC;
}
.fa-js-square {
    color: #F1D63B;
}
.fa-react {
    color: #00D2F8;
}
.fa-node-js {
    color: #7CC620;
}
.fa-sass {
    color: #C66395;
}
.fa-less {
    color: #1D3F6C;
}
.fa-python {
    color: #5FACEF;
}