.modal-initial,
.modal-visible,
.modal-hidden {
  z-index: 3;
  border-radius: 5px;
  background-color: #222222;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3%;
  margin-left: 10%;
  margin-top: 5%;
  max-width: 675px;
  height: 500px;
  position: absolute;
  left: -1000px;
}

.modal-visible {
  animation: slide-right 1s forwards;
}

.modal-hidden {
  animation: slide-left-off 1s;
}

/* Modal header */

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0080ff;
  font-size: 2.1rem;
}

.close-button i {
  transition-duration: 0.5s;
  color: #0080ff;
  font-size: 2.2rem;
}

.close-button i:hover {
  text-shadow: 2px 2px 8px #000;
  cursor: pointer;
  color: lightskyblue;
}

/* Input boxes */

.send-message {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input {
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 40%;
  height: 25px;
  font-family: "Lucida Console", Monaco, monospace;
}

textarea {
  border-radius: 3px;
  padding: 10px;
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
}

/* Send button */

.send {
  display: flex;
  justify-content: space-between;
}

.send-button {
  width: 175px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid slategray;
  border-radius: 5px;
  color: slategrey;
  font-size: 1.2rem;
  transition-duration: 0.25s;
}

.send-button:hover {
  cursor: pointer;
  color: #0080ff;
  border-color: #0080ff;
  background: #333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send-button:active {
  transform: translateY(2px);
}

.response {
  color: #0080ff;
  width: 60%;
  font-size: 18px;
}

/* Contact info */

.contact,
.email,
.phone {
  color: #0080ff;
  display: flex;
  align-items: baseline;
  font-size: 1.6rem;
  justify-content: space-between;
}

a {
  color: #0080ff;
  margin-left: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Break points */

@media (max-width: 800px) {
  .modal-visible,
  .modal-hidden {
    max-width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .close-button {
    font-size: 3rem;
  }

  .modal-title {
    margin: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0080ff;
    font-size: 2.1rem;
  }

  .send-message {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  input {
    width: 100%;
    margin-bottom: 25px;
  }

  textarea {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .send {
    margin: 0 30px;
    flex-direction: column;
    align-items: center;
  }

  .send-button {
    width: 100%;
  }

  .response {
    width: 100%;
  }

  .contact {
    margin: 25px 30px;
    flex-direction: column;
  }

  .contact,
  .email,
  .phone {
    color: #0080ff;
    display: flex;
    align-items: baseline;
    font-size: 1.3rem;
    justify-content: space-between;
  }

  .phone {
    margin-top: 10px;
  }
}

/* Animations */

@keyframes slide-right {
  100% {
    left: 0;
  }
}
@-webkit-keyframes slide-right {
  100% {
    left: 0;
  }
}
@-moz-keyframes slide-right {
  100% {
    left: 0;
  }
}

@keyframes slide-left-off {
  from {
    left: 0;
  }
  to {
    left: -1000px;
  }
}
@-webkit-keyframes slide-left-off {
  from {
    left: 0;
  }
  to {
    left: -1000px;
  }
}
@-moz-keyframes slide-left-off {
  from {
    left: 0;
  }
  to {
    left: -1000px;
  }
}
