.contact-container {
  flex-direction: column;
  justify-content: space-around;
  margin-left: 7%;
  margin-top: 8%;
  padding: 1%;
  width: 650px;
  height: 520px;
  z-index: 2;
  position: absolute;
  background-color: #222222;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px 0 25px;
  color: #0080ff;
  font-size: 2.1rem;
}

.close-button {
  font-size: 1.4rem;
  color: slategray;
}

.close-button:hover {
  cursor: pointer;
  color: #0080ff;
}

.send-message {
  margin: 0 25px 0 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input {
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 40%;
  height: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

textarea {
  border-radius: 3px;
  padding: 10px;
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.send-button {
  width: 175px;
  height: 40px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid slategray;
  border-radius: 5px;
  color: slategrey;
  font-size: 1.2rem;
}

.send-button:hover {
  cursor: pointer;
  color: #0080ff;
  border-color: #0080ff;
}

.contact {
  margin: 0 25px 0 25px;
}

.contact,
.email,
.phone {
  color: #0080ff;
  display: flex;
  align-items: baseline;
  font-size: 1.6rem;
  justify-content: space-between;
}

a {
  color: #0080ff;
  margin-left: 5px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 720px) {
  .contact-container {
    width: 100%;
    height: 85vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .modal-title {
    /* border: 1px solid red; */
    margin: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0080ff;
    font-size: 2.1rem;
  }

  .send-message {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  input {
    width: 100%;
    margin-bottom: 25px;
  }

  textarea {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .send-button {
    margin: auto;
    width: 93%;
  }

  .contact {
    margin: 25px 15px;
    flex-direction: column;
  }

  .contact,
  .email,
  .phone {
    color: #0080ff;
    display: flex;
    align-items: baseline;
    font-size: 1.6rem;
    justify-content: space-between;
  }

  a {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
}
