.App {
  background-color: #333;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #0080ff;
}

::-webkit-scrollbar {
  display: none;
}
